main{
    background-color: #F6F7F9;
}
.section_1{
    
    .container{
       margin: 0 auto;
       max-width:1312px;
       
       .content{
            display: flex;
            justify-content: space-between;
            .box1{
              background-color:#54A6FF;
              background-image: url(/assets/imgs/BG\ \(1\).png);
              .button{
                background-color: #3563E9;
              }
            }
            .box2{
                
                background-image: url("/assets/imgs/BG.png");
                background-color:#3563E9;
                
                
                
                .button{
                    background-color:#54A6FF;
                }
            }
            div{
                background-size: cover;
                background-position: center;
                padding-top: 24px;
                padding-left: 24px;
                padding-bottom: 7px;
                font-family: 'Plus Jakarta Sans';
                width: 47%;
                border-radius: 10px;

                
                h3{
                    color: white;
                    
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 150%;
                    width: 284px;
                    padding-bottom: 16px;
                }
                p{
                    
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;                                                                    
                    color: #FFFFFF;
                    width: 284px;
                    padding-bottom:20px;

                }
                .button{
                    
                    font-weight: 600;
                    font-size: 16px;
                    display: flex;
                    color:white;
                    max-width: 120px;
                    max-height: 44px;
                    border-radius: 4px;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 20px;
                    
                    
                }
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    

                div{
                    display: flex;
                    justify-content: center;
                    max-width: 406px;
                    max-height: 116px;
                    
                    
                    

                    
                
                img{
                    
                    width: 100%;
                    height: 100%;
                    
                    
                }}}
            }
       }
    }
}
@media only screen and (max-width: 878px) {
    .section_1{
        .container{
            .content{
                .box2{
                    display: none;
                }
                .box1{
                    width: 100%;
                    background-position:bottom;
                    
                    
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    .section_1{
        .container{
            .content{
                .box2{
                    display: none;
                }
                .box1{
                    padding-bottom: 86px;
                    .button{
                        font-size:12px ;
                        
                    }
                    h3{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                    }
                    width: 100%;
                    background-position:bottom;
                    
        
                }
            }
        }
    }
}
.section_2{
    padding-top: 32px;
    padding-bottom: 32px;
    
    .container{
        margin: 0 auto;
        max-width:1312px;
        
       
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .box{
                background-color: #FFFFFF;
                width: 43%;
                padding: 60px 48px;
                border-radius: 10px;
                label{
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input:checked ~ .checkmark:after {
                        display: block;
                      }
                    input{
                        opacity: 0;
                        position: absolute;
                        cursor: pointer;
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: #3562e974;
                        border-radius: 50%;
                      }
                    .checkmark:after {
                       top: 6px;
                       left: 6px;
                       width: 13px;
                       height: 13px;
                       border-radius: 50%;
                       background: #3562e9f6;
                   }
                   .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                  }
                 
                }
                div{
                    display: flex;
                    gap: 20px;
                    font-weight: 700;
                    ul{
                        display: flex;
                        flex-direction: column;
                        width: 35%;
                        border-right: 1px solid #C3D4E966;
                        padding-right: 20px;
                        select{
                            display: flex;
                            
                            font-size: 12px;
                            color: #90A3BF;
                            border: none;
                            padding-right: 20px;
                            padding-top: 10px;
                        }
                    }
                }
                

            }
            .nav{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                min-height: 60px;
                border-radius: 10px;
                background-color: #3563E9;
                
            }
        }
    }
}
@media only screen and (max-width: 878px) {
    .section_2{
        .container{
            .content{
                position: relative;
                flex-direction: column;
                gap: 20px;
                .box{
                    width: 90%;
                }
                .nav{
                    position: absolute;
                    top: 43%;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    .section_2{
        .container{
            .content{
                position: relative;
                flex-direction: column;
                gap: 20px;
                
               
                .nav{
                    position: absolute;
                    top: 43%;
                }
            }
        }
    }
}