._terms{
    background: #007878;
    .content{
        display: flex;
        margin: 0 auto;
        justify-content: space-between; 
        align-items: center;
        height: 48px;
        max-width: 1126.48px;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 500;
        flex-wrap: wrap;
        .numbers{
            display: flex;
            justify-content: center;
            align-items: center;
            

            p{
            font-size: 14px;
            
                }
                i{
                margin-right: 8px;
                }
        }

        .nav{
            ul{
                color: rgba(255, 255, 255, 0.75);
                gap: 20px;
                
                font-size: 14px;
                display: flex;
            
                
            }
        }


    }
    

}

    

._naviname{
    
    background-color: white;
    .content{
        
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        max-width: 1126.48px;
        padding-top:28px ;
        .nameclass{
            display: flex;
            justify-content: space-between;
                .first{
                    
                    h1{
                        font-weight: 700;   
                        font-size: 40px;
                        color: #000000;
                    }

                }
            
                .secondary{
                    
                    display: flex;
                    gap: 20px;
                    flex-grow: 1;
                    
                    .searc{
                        display: flex;
                        align-items: center;
                        flex-grow: 1;
                        
                        
                        div{
                            background-color:#dfe0e2;
                            display: flex;
                            flex-grow: 1;
                            
                            input{
                                display: flex;
                                background-color:#dfe0e2;
                                border: none;
                                outline: 0;
                                margin-left: 10px;                           
                                padding: 8px 0px;
                                width: 100%;
                                flex-grow: 1;
                                
                                
                                
                            }
                            i{
        
                                margin-right: 10px;
                                color: #273142;
                                font-size: 23px;
                                transform: translateY(5px);
                                
                                 
                            }
                        }
                    }
                    .nav{
                        display: flex;
                        align-items: center;
                        
                        div{
                            display: flex;
                            gap: 15px;
                            flex-wrap: wrap;
                        .iconic{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            
                            p{
                                font-size: 14px;
                            }
                            
                            
                        }}

                    }
                }
        }
        .navclass{
            
            max-width: 820px;
            padding-bottom: 24px;
            
            
            

        }
        .content{
            display: flex;
            flex-wrap: wrap;
            
            
            ul{
                display: flex;
                font-size: 16px;
                justify-content: space-between;
                font-weight: 400;
                color: #273142;
                flex-wrap: wrap;

                 
            }
    
        }
        
        
        
    }
}


