* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  background-color: #262626;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container .container_content {
  width: 50rem;
  height: 70rem;
  padding: 0 10rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.container .container_content .card {
  width: 30rem;
  height: 55rem;
  background-color: #eee;
  border-radius: 2.5rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.7);
  position: relative;
}
.container .container_content .card .yellow {
  width: 100%;
  height: 50%;
  background-color: #f1ae04;
  padding: 3rem;
  border-radius: 2.5rem 2.5rem 0 0;
  transition: background-color 0.5s;
}
.container .container_content .card .yellow .logo {
  width: 8rem;
  margin-bottom: 2rem;
}
.container .container_content .card .yellow .shoe-1 {
  width: 30rem;
  position: absolute;
  top: -2.5rem;
  right: -10rem;
  transition: transform 1s;
}
.container .container_content .card .yellow .shoe-2 {
  width: 33rem;
  position: absolute;
  top: -9rem;
  right: -45rem;
  transition: transform 1s;
}
.container .container_content .card .yellow h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.container .container_content .card .white {
  width: 100%;
  height: 50%;
  padding: 2rem 3rem;
}
.container .container_content .card .white h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #333;
  margin-bottom: 0.6rem;
}
.container .container_content .card .white .box {
  position: absolute;
  top: 30rem;
  width: 3.5rem;
  right: 5rem;
  height: 1.5rem;
  background-color: #25d390;
  color: #fff;
  display: grid;
  place-items: center;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.container .container_content .card .white h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}
.container .container_content .card .white .stars {
  margin-bottom: 3rem;
  color: rgb(182, 182, 182);
}
.container .container_content .card .white .size h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.3rem;
}
.container .container_content .card .white h4 {
  margin-bottom: 3rem;
}
.container .container_content .card .white .sizes {
  display: flex;
}
.container .container_content .card .white .sizes span {
  font-size: 1.3rem;
  margin-right: 2.5rem;
}
.container .container_content .card .white h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1;
  margin-bottom: 1rem;
}
.container .container_content .card .white .price {
  width: 16rem;
  height: 4rem;
  background: #1c477a;
  border-radius: 0.5rem;
  position: absolute;
  right: -1rem;
  bottom: 3rem;
  color: white;
  box-shadow: 0 1rem 2rem rgba(28, 71, 122, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container .container_content .card .white .price span {
  font-size: 2rem;
}
.container .container_content .card .white .price span :first-child {
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 1rem;
}
.container .container_content .card .white .price span :last-child {
  font-weight: bold;
}
.container .container_content .card .white .colors {
  display: flex;
}
.container .container_content .card .white .colors .color-1,
.container .container_content .card .white .colors .color-2 {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}
.container .container_content .card .white .colors .color-1 {
  background-color: blue;
  margin-right: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(28, 71, 122, 0.2);
}
.container .container_content .card .white .colors .color-2 {
  background: #c02244;
  box-shadow: 0 1rem 2rem rgba(192, 34, 68, 0.3);
}

.container.change .container_content .card .yellow {
  background-color: #c02244;
}
.container.change .container_content .card .yellow .shoe-1 {
  transform: translatex(-50rem) rotateZ(45deg);
}
.container.change .container_content .card .yellow .shoe-2 {
  transform: translatex(-40rem) rotateZ(-45deg);
}
.container.change .container_content .card .white .price {
  background-color: #c02244;
}/*# sourceMappingURL=style.css.map */