.section_1{
    background-color:#FFE2E0;
    
        .container{
            
            display: flex;
            margin: 0 auto ;
            max-width: 1205px;
            align-items: center;
            justify-content: space-between;

            .product{
                
                margin-left: 40px;
                p{ 
                    font-size:24px;
                    color:#DF4244;
                    font-weight: 500;
                }
                h2{
                    font-size: 40px;
                    color:#212121;
                    font-weight: 700;
                }
                div{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    max-width: 453px;
                    color: rgba(33, 33, 33, 0.75);
                    line-height: 27.2px;
                    margin-bottom: 48px;
                }
                .button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 192px;
                    max-height: 52px;
                    background: #206363;
                    border-radius: 8px;
                    color:#FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px 56px;
                }
            }
            .image{
                
                svg{
                    height: 100%;
                    width: 100%;
                    
                }
               
            }

        }


}

.section_2{
        
        background-color: #F7F7F7;
    .container{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 1123px;
        gap: 57px;
        padding: 58px 0px;
        div{
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            p{
                
                font-size: 16px;
                font-family:'Poppins';
            }
            i{
                color: #007878;
            }
           
        }
        .div_1{
            
            gap: 61px;
        }
        .div_2{
            
            gap: 61px;
        }
       
    }
}
@media only screen and (max-width: 768px){
    .section_2{
        .container{      
            justify-content: center;    
            div{
                flex-direction: column;
                
                i{
                    font-size: 30px;
                }
            }
            
        }
    }
}
.section_3{
    .container{
        padding: 80px 0;
        display: flex;
        margin: 0 auto;
        max-width: 1128px;

        .box{
            display: flex;
            margin-right: 28px;
            gap: 25px;
            
            div{
                display: flex;
                max-width:264px;
                max-height: 162px;
                background-color:#F5F5F5;
                border-radius: 10px;
                overflow: hidden;
                
                p{
                    font-family: 'Poppins';
                    font-size: 18px;
                    font-weight: 500;
                    padding-left: 24px;
                    padding-top: 24px;
                    position: absolute;
                    z-index:1;
                    
                }
                img{
                    max-width: 250px;
                    max-height:170px;
                    padding-left: 100px;
                    height: 100%;
                    width: 100%;
                    margin-top: 20px;
                    border-radius: 10px;
                }
            }
        }
        
    }
}
@media only screen and (max-width: 768px){
    .section_3{
        .container{     
             justify-content: center;
    
            .box{
                flex-direction: column;
        
            }
            
        }
    }
}

.section_4 ,.v1{
    padding-bottom: 96px;
    .container{
    display: flex;
    gap: 20px;
    padding-top: 32px;
    justify-content: space-between;
    margin:0 auto;
    max-width:1128px;
    align-items:  center;
    flex-wrap: wrap;
    .box1{
        font-family: 'Rubik';
        font-size: 32px;
        font-weight: 500;


    }
    .box2{
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        opacity: 70%;
        
        
        

    }
    
   

    }
    .cart{
        display: flex;
        background-color: #F9F9F9;
        position: relative;
        flex-direction: column;
        padding-left:24px;
        padding-bottom:28px ;
        padding-right:24px;
        
        
        
        
        
        
            
            .green_box{
                padding: 3px 22px;
                background-color: #43D167;
                border-radius: 8px;
                position: absolute;
                top: 18px;
                left: 18px;
                color: white;
                font-size: 16px;
                font-weight: 500;
                
                
                
            }
            .like{
                color: red;
                position: absolute;
                top: 18px;
                right: 18px;
                
            }
        

        .image{ 
            max-height: 150px;
            max-width: 150px;
            margin-left: 75px;
            padding-top: 50px;
            margin-bottom: 25px;
            

            
            
            img{
                width: 100%;
                height: 100%;
            }
           
        }
        .star{
            padding-top: 20px;
            padding-left: 9px;
            color: #FFDD45;
            padding-bottom: 16px;

        }
        p{
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 16px;
            line-height: 27.2px;
            max-width: 299px;
            padding-bottom: 20px;
        }
        .dollar{
            display: flex;
            gap: 10px;
            p{
            color: #F75145;
            font-weight: 600;
            font-style: 'Poppins';
            font-size: 20px;}
            span{
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color:#363636BF;
                padding-bottom: 31px;


            }

        }
        button{
            padding: 11px 105px;
            color: #212121;
            font-family: 'Poppins';
            font-size: 16px;
            border-radius: 8px;
            border: 1px solid #212121;
        }
    }
    
    .cart_2{
        .red_box{
            background-color:red;
        }
       
}
}
.section_5.v1{
    background-color: #FFF7F7;
    .container{
        .cart_3{
            .red_box{
                background-color: red;
            }
        }
    }

}
.section_6.v1{
    .container{
        .cart_2{
            .red_box{
                background-color: #43D167;
            }
        }
    }
}
.section_7{
    background-color: #F7F7F9;
    border-bottom: 1px solid #27314226;
    .container{
        display: flex;
        margin: 0 auto;
        max-width:1128px; ;
        flex-direction: column;
        padding-top: 39px;
        
        .name{
            display: flex;
            justify-content: space-between;
            background-color: #F7F7F9;
            align-items: center;
            padding-bottom: 32px;
            flex-wrap: wrap;
           
            h2{
                font-family: 'Palanquin';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
            }
            div{
                display: flex;
                border-radius:8px;
                align-items: center;
                background-color: white;
                height: 40px;
                padding-right:10px ;
                max-width: 500px;
                flex-grow: 1;
                input{
                    display: flex;
                    border: none;
                    width: 100%;
                    font-size: 16px;
                    flex-grow: 1;
                    
                }
                
            }
        }
        
}
}
.section_8{
    background-color: #F7F7F9;
    padding-bottom: 80px;
    .container{
        display: flex;
        margin: 0 auto;
        max-width:1128px; ;
        justify-content: space-between;
        padding-top: 56px;
        flex-wrap: wrap;
        .contact{

            max-width: 320px;
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color:#212121BF;
            margin-bottom: 25px;
            p{
                padding-bottom: 40px;
            }
            div{
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 24px;
            }
            .send_message{
                display: flex;
                border-radius: 8px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 179px;
                max-height: 48px;
                padding: 5px 10px;
                
            }
            
            

        }
        .sch{
            display: flex;
            justify-content: center;
            gap: 100px;
            flex-wrap: wrap;
            
            
            ul{
                font-weight: bold;
                
                li{
                    font-weight: lighter;
                    line-height: 35px;
                    max-width:122px ;
                }
            }
        }

    }
}

@media only screen and (max-width: 403px){
   ._naviname{
    .content{
        
        
        .nameclass{
            flex-direction: column;
            
            }
        }
    }
   }
@media only screen and (max-width: 885px){
    .section_8{
        .container{
            justify-content: center;
        }
    }
}