main {
  .modern_studio {
    padding-top: 50px;
    padding-bottom: 56px;
    .container {
      height: auto;
      .modern_studio_container_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .modern_studio_name {
          color: white;

          width: 50%;

          img {
            box-sizing: border-box;

            width: 148px;
            height: 148px;
            left: 413px;
            top: 5px;
          }
          p {
            color: #ef6d58;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 24px;
          }
          h1 {
            max-width: 513px;
            width: 100%;
            font-weight: 800;
            font-size: 72px;

            letter-spacing: -2px;
            line-height: 80px;
          }
          .agency {
            color: rgba(255, 255, 255, 0.64);
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
            max-width: 470px;
            width: 100%;
            margin-bottom: 34px;
          }
          .modern_studio_button {
            display: flex;

            .work {
              background-color: #ef6d58;
              color: white;
              padding: 18px 23px;
              border-radius: 6px;
              border: none;
            }
            .contactus {
              color: white;
              background-color: initial;
              padding: 18px 23px;
              border-radius: 6px;
              border: none;
            }
          }
          .metainch {
            margin-top: 44px;
            display: flex;

            .metainch_img {
              width: 48px;
              height: 48px;
              background-color: #b550f6;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 16px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .metainchtext {
              p {
                color: rgba(255, 255, 255, 0.64);
                max-height: 64px;
              }
            }
          }
        }
        .modern_studio_img {
          width: 50%;
          img {
            max-width: 570px;
            max-height: 602px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .brends {
    width: 100%;
    background-color: rgba(253, 240, 233, 1);
    .container {
      .brends_container_content {
        max-width: 1440px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100px;
          width: 100%;
        }
        border-bottom: 1px solid #f3d1bf;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .experience {
    background-color: rgba(253, 240, 233, 1);
    padding-top: 116px;
    .container {
      .container_content {
        display: flex;
        justify-content: space-around;
        .experience_image {
          display: flex;
          flex-direction: column;

          width: 45%;

          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .experience_about {
          color: black;
          // border: 1px solid red;
          width: 45%;
          display: flex;
          flex-direction: column;

          h5 {
            color: #ef6d58;
            letter-spacing: 3px;
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 20px;
          }
          h2 {
            font-size: 56px;
            max-width: 422px;
            width: 100%;
            font-weight: 800;
            color: #391400;
            margin-bottom: 26px;
          }
          span {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #391400;
            margin-bottom: 18px;
          }
          h3 {
            max-width: 470px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: rgba(57, 20, 0, 0.64);
            margin-bottom: 34px;
          }
          button {
            background: #ffffff;
            width: 138px;
            height: 48px;
            border: none;
            box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
            border-radius: 6px;
          }
        }
      }
    }
  }
  .percent {
    background-color: rgba(253, 240, 233, 1);
    padding-top: 161px;

    .container {
      .percent_content {
        display: flex;
        justify-content: space-between;

        .box {
          border: 1px solid #f3d1bf;
          max-width: 391px;
          max-height: 676px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 45px;
          padding-left: 48px;
          padding-bottom: 38px;
          p {
            color: #391400;
            font-size: 40px;
            font-weight: 800;
            line-height: 48px;
          }
          span {
            margin-top: 13px;
            height: 32px;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #391400;
          }
        }
      }
    }
  }
  .making_projects {
    background-color: rgba(253, 240, 233, 1);

    .container {
      .container_content {
        border-bottom: 1px solid #f3d1bf;
        padding-bottom: 108px;
        padding-top: 140px;

        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
        }
        .leftbox {
          p {
            max-width: 150px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 17px;
          }
          h2 {
            max-width: 448px;
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            color: #391400;
            margin-bottom: 31px;
          }
          span {
            max-width: 470px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: rgba(57, 20, 0, 0.64);
            margin-bottom: 28px;
          }
          h5 {
            max-width: 84px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #391400;
          }
        }
        .rightbox {
          display: flex;
          gap: 32px;
          flex-direction: column;
          div {
            display: flex;
            width: 100%;
            align-items: center;
            h1 {
              font-weight: 800;
              font-size: 72px;
              line-height: 80px;
              letter-spacing: -2px;
              color: #391400;
              margin-right: 66px;
            }
            p {
              max-width: 422px;
              width: 100%;
              font-weight: 700;
              font-size: 24px;
              line-height: 32px;
              color: #391400;
            }
          }
        }
      }
    }
  }
  .videorell {
    background-color: rgba(253, 240, 233, 1);
    padding-top: 127px;
    padding-bottom: 81px;
    .container {
      .container_content {
        display: flex;
        justify-content: space-between;

        div {
          width: 45%;
        }
        .videobox {
          background-color: red;
          max-width: 570px;
          height: 368px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
          }
          .playpng {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 148px;
            height: 148px;
          }
          .timepng {
            bottom: 0;
            position: absolute;
            width: 47px;
            height: 34px;
          }
        }
        .textbox {
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            max-width: 118px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 17px;
          }
          span {
            max-width: 469px;
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            color: #391400;
            margin-bottom: 28px;
          }
          h3 {
            max-width: 470px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: rgba(57, 20, 0, 0.64);
          }
        }
      }
    }
  }
  .sitelook {
    background-color: rgba(253, 240, 233, 1);
    padding-top: 70px;
    .container {
      .container_content {
        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
        }
        .textbox {
          p {
            max-width: 93px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 20px;
          }
          h2 {
            max-width: 397px;
            font-weight: 800;
            font-size: 56px;
            line-height: 64px;
            letter-spacing: -1px;
            color: #391400;
            margin-bottom: 26px;
          }
          h3 {
            max-width: 470px;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #391400;
            margin-bottom: 26px;
          }
          div {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 16px;
            img {
              width: 32px;
              height: 32px;
              margin-right: 16px;
            }
            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: rgba(57, 20, 0, 0.64);
            }
          }
        }
        .imgbox {
          max-width: 529px;
          max-height: 551px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .longrun {
    background-color: rgba(253, 240, 233, 1);
    padding-top: 203px;
    padding-bottom: 213px;

    .container {
      .container_content {
        display: flex;
        .leftbox {
          div {
            &:hover {
              background-color: white;

              .imgbox {
                display: block;
              }
            }
          }
        }
        div {
          width: 50%;
        }
        .rightbox {
          p {
            max-width: 93px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 30px;
          }
          h2 {
            max-width: 370px;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #391400;
            margin-bottom: 30px;
          }
          h4 {
            max-width: 84px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #391400;
          }
        }
        .leftbox {
          display: flex;

          div {
            padding: 48px;
            border: 1px solid #f3d1bf;
            border-radius: 0px 6px 6px 0px;
            transition: 300ms;
            margin-right: 20px;

            .imgbox {
              display: flex;
              max-width: 80px;
              max-height: 80px;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #ef6c57;
              justify-content: center;
              align-items: center;
              display: none;
            }

            h3 {
              margin-top: 40px;
              margin-bottom: 19px;
              max-width: 154px;
              font-weight: 700;
              font-size: 24px;
              line-height: 32px;
              color: #391400;
            }
            span {
              max-width: 240px;
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: rgba(57, 20, 0, 0.64);
              margin-bottom: 46px;
            }
          }
        }
      }
    }
  }
  .digitalproducts {
    background-color: rgba(253, 240, 233, 1);
    padding-top: 116px;
    padding-bottom: 141px;
    .container {
      .container_content {
        display: flex;
        justify-content: space-around;
        .product_image {
          display: flex;
          flex-direction: column;

          width: 45%;

          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .product_about {
          color: black;
          // border: 1px solid red;
          width: 45%;
          display: flex;
          flex-direction: column;

          h5 {
            color: #ef6d58;
            letter-spacing: 3px;
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 20px;
          }
          h2 {
            font-size: 56px;
            max-width: 422px;
            width: 100%;
            font-weight: 800;
            color: #391400;
            margin-bottom: 26px;
          }
          span {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #391400;
            margin-bottom: 18px;
          }
          .imgbox {
            display: flex;
            margin-bottom: 36px;
            img {
              width: 47px;
              height: 48px;
            }
            div {
              margin-left: 28px;
              p {
                max-width: 386px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: rgba(57, 20, 0, 0.64);
              }
              span {
                max-width: 126px;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #391400;
              }
            }
          }
          button {
            background: #ffffff;
            width: 138px;
            height: 48px;
            border: none;
            box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
            border-radius: 6px;
          }
        }
      }
    }
  }
  .howagency {
    background-color: rgba(253, 240, 233, 1);
    padding-bottom: 128px;

    .container {
      .container_content {
        display: flex;
        flex-direction: column;
        .top {
          display: flex;
          flex-direction: column;
          margin-bottom: 35px;
          p {
            max-width: 78px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 17px;
          }
          h2 {
            max-width: 336px;
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            color: #391400;
          }
        }
        .bottom {
          display: flex;
          div {
            border: 1px solid #f3d1bf;
            padding: 48px;
            .imgbox {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: #ef6c57;
              margin-bottom: 41px;
            }
            h3 {
              max-width: 83px;
              font-weight: 700;
              font-size: 24px;
              line-height: 32px;
              color: #391400;
              margin-bottom: 19px;
            }
            span {
              max-width: 294px;
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: rgba(57, 20, 0, 0.64);
              margin-bottom: 26px;
            }
            h5 {
              max-width: 89px;
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: #391400;
            }
          }
        }
      }
    }
  }
  .latestwork {
    background-color: #28293e;
    padding-top: 92px;
    padding-bottom: 68px;
    .container {
      .container_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          max-width: 104px;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ef6d58;
          margin-bottom: 20px;
        }
        h2 {
          max-width: 342px;
          font-weight: 800;
          font-size: 56px;
          line-height: 64px;
          text-align: center;
          letter-spacing: -1px;
          color: #ffffff;
          margin-bottom: 44px;
        }
        div {
          ul {
            display: flex;
            gap: 60px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: rgba(255, 255, 255, 0.64);
            li {
              transition: 500ms;

              &:hover {
                color: white;
              }
            }
          }
        }
        select {
          width: 100%;
          max-width: 329px;
          width: 100%;
          height: 48px;
          background: #ffffff;
          border-radius: 6px;
          display: none;
        }
      }
    }
  }
  .card {
    background-color: #28293e;
    padding-top: 68px;
    padding-bottom: 117px;
    .container {
      .container_content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        button {
          margin-top: 64px;
          max-width: 170px;
          height: 48px;
          width: 100%;
          font-weight: 900;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          border: 1px solid rgba(255, 255, 255, 0.295743);
          border-radius: 6px;
          background-color: inherit;
        }
        .box {
          padding-left: 48px;
          padding-bottom: 51px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          .marks {
            background-color: #ffff;
            border-radius: 16px;
            width: 84px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 256px;
            padding: 15px;
          }
          p {
            max-width: 244px;
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            color: #ffffff;
            margin-top: 23px;
          }
        }
        .design {
          width: 40%;
          background-image: url("../imgs/Bitmap\ \(4\).png");
        }
        .branding {
          width: 50%;

          background-image: url("../imgs/Bitmap\ \(5\).png");
        }
        .illustration {
          width: 50%;
          background-image: url("../imgs/Bitmap\ \(6\).png");
        }
        .motion {
          width: 40%;
          background-image: url("../imgs/Bitmap\ \(7\).png");
        }
      }
    }
  }
  #movefaster {
    background-color: #28293e;
    position: relative;

    .container {
      background-color: #fdf0e9;
      .starimg {
        height: 14px;
        width: 148px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -8px;
        left: 130px;
        img {
          position: absolute;
        }
      }
      .girlsimg {
        position: absolute;
        right: 160px;
        bottom: 0;
        z-index: 1;
      }
      .container_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 47px;
        position: relative;

        .getstarted {
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 13px;
          }
          h4 {
            text-align: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #391400;
            margin-bottom: 23px;
          }
          button {
            background: #ef6d58;
            border-radius: 6px;
            padding: 18px 30px;
            color: white;
            border: none;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  #explorefuture {
    background-color: #28293e;
    padding-bottom: 128px;
    padding-top: 92px;

    .container {
      .container_content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .top {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 35px;
          p {
            max-width: 78px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
            margin-bottom: 17px;
          }
          h2 {
            max-width: 425px;
            font-weight: 800;
            font-size: 56px;
            line-height: 64px;
            text-align: center;
            letter-spacing: -1px;
            color: #ffffff;
          }
        }
        .explorefuture_card {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          
          .card {
            width: 30%;
            padding: 36px 45px;

            border: 1px solid #3a3c56;
            border-radius: 6px;
            .card_header {
              display: flex;
              gap: 12px;
              h2 {
                font-weight: 800;
                font-size: 50px;
                line-height: 80px;
                letter-spacing: -2px;
                color: #ffffff;
              }
              p {
                max-width: 127px;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #ffffff;
              }
            }
            .cardtime {
              display: flex;
              gap: 8px;
              color: #ffffff;
              margin-bottom: 36px;
              img {
                width: 30px;
                height: 30px;
              }
              p {
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #ffffff;
              }
            }
            hr {
              border: 1px solid #3a3c56;
              margin-bottom: 40px;
            }
            h4 {
              max-width: 168px;
              font-weight: 700;
              font-size: 24px;
              line-height: 32px;
              color: #ffffff;
              margin-bottom: 19px;
            }
            p {
              max-width: 290px;
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: rgba(255, 255, 255, 0.64);
              margin-bottom: 26px;
            }
            h5 {
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: #ffffff;
            }
          }
        }
        .expbutton {
          margin-top: 64px;
          border: 1px solid rgba(255, 255, 255, 0.295743);
          border-radius: 6px;
          padding: 18px 30px;
          color: white;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  main {
    .modern_studio {
      .container {
        .modern_studio_container_content {
          flex-direction: column-reverse;
          align-items: center;

          .modern_studio_img {
            width: 100%;
          }
          .modern_studio_name {
            width: 100%;
            p {
              font-size: 16px;
            }
            h1 {
              font-size: 56px;
            }
          }
        }
      }
    }
    .brends {
      .container {
        .brends_container_content {
          flex-wrap: wrap;
          gap: 15px;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
    .experience {
      .container {
        .container_content {
          flex-direction: column;

          .experience_image {
            width: 100%;
            div {
              max-width: 127;
              max-height: 127;
            }
          }
          .experience_about {
            width: 100%;

            h2 {
              font-size: 40px;
            }
          }
        }
      }
    }
    .percent {
      .container {
        .percent_content {
          flex-direction: column;
          .box {
            max-width: 100%;
          }
        }
      }
    }
    .making_projects {
      .container {
        .container_content {
          flex-direction: column;
          div {
            width: 100%;
          }
          .leftbox {
            margin-bottom: 72px;
          }
        }
      }
    }
    .videorell {
      .container {
        .container_content {
          flex-direction: column;
          div {
            width: 100%;
          }
          .videobox {
            max-width: 329px;
            max-height: 212px;
            margin-bottom: 24px;
          }
          .textbox {
            span {
              font-size: 35px;
            }
          }
        }
      }
    }
    .sitelook {
      .container {
        .container_content {
          flex-direction: column;
          div {
            width: 100%;
          }
          .textbox {
            h2 {
              font-size: 40px;
              line-height: 48px;
            }
          }
        }
      }
    }
    .longrun {
      .container {
        .container_content {
          flex-direction: column;
          .leftbox {
            flex-direction: column;
            width: 100%;
            div {
              width: 100%;
            }
          }
        }
      }
    }
    .digitalproducts {
      .container {
        .container_content {
          flex-direction: column;
          .product_image {
            width: 100%;
          }
          .product_about {
            width: 100%;
          }
        }
      }
    }
    .howagency {
      .container {
        .container_content {
          .bottom {
            flex-direction: column;
          }
        }
      }
    }
    .latestwork {
      .container {
        .container_content {
          div {
            display: none;
          }
          select {
            display: block;
          }
        }
      }
    }
    .card {
      .container {
        .container_content {
          .design {
            width: 100%;
          }
          .branding {
            width: 100%;
          }
          .illustration {
            width: 100%;
          }
          .motion {
            width: 100%;
          }
        }
      }
    }
    #movefaster {
      .container {
        .starimg {
          top: -8px;
          left: 10px;
        }
        .girlsimg {
          height: 317px;
          z-index: 1;
          left: 0px;
          right: 0px;
          margin: 0 auto;
        }
        .container_content {
          flex-direction: column;
          .getstarted {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
          }
        }
      }
    }
    #explorefuture {
      .container {
        .container_content {
          flex-direction: column;
          .top {
            h2 {
              font-size: 40px;
            }
          }
          .explorefuture_card {
            flex-direction: column;
            gap: 35px;
            .card {
              display: flex;
              flex-direction: column;
              width: 100%;
              align-items: center;
              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
